/* -------------------------- BODY -------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&family=Montserrat:wght@200&display=swap');


button{
    background-color: transparent;
    /* width: 15%; */
    border: none;
  }



/* -------------------------- NAVBAR -------------------------- */

.navbar-brand img { max-width: 100px; }

.bg-dark { background: #333a40!important; }

.navbar-dark .navbar-nav .compra-tickets { color: #25a342; }


@media (min-width: 992px) {
    .compra-tickets {
    border: 1px solid transparent;
    border-radius: .8rem;
  }
  .compra-tickets:hover,
  .navbar-dark .navbar-nav .compra-tickets.active {
    background: #25a342;
  }
}


.navbar{
    padding: 0%;
  }

/* -------------------------- CARDS -------------------------- */


#cartas{
    margin-top: 8%;
}

.card{
    border: 1px solid blue;
    /* width: 250px;
    height: 210px; */
    border-radius: 0%;
}

.card-body{
    
}



/* background: linear-gradient(90deg, rgba(28, 56, 70, 1) 0%, rgba(31, 82, 113, 1) 100%);
 */
/* -------------------------- FORMULARIO -------------------------- */

.titulos{
    text-align: center;
    font-family: "Montserrat";
    margin: 15px;
}

#titulo{
    font-size: 16px;

}

#total{
    padding: 15px;
    border: 1px solid rgb(199, 215, 230);
    background-color: rgb(203, 229, 254);
    color: rgb(66,97, 117);
    margin-top: 25px;
    margin-bottom: 25px;
}

.form-control{
    background-color: rgb(204, 204, 204);
    color: black;
    font-weight: 500;
  }

  #borrar{
    background: rgb(150, 201, 62);
    text-align: center;
    justify-content: center;
  }

  #resumen{
    background: rgb(150, 201, 62);
    text-align: center;
  }


  /* -------------------------- FOOTER -------------------------- */

 #footer {
    background: linear-gradient(90deg, rgba(28, 56, 70, 1) 0%, rgba(31, 82, 113, 1) 100%);
    
      color: #fff;
      padding: 1.2rem;
      margin-top: 1.5rem;
    }
    
    #footer .nav-link {
      color: #fff;
      text-align: center;
    }
    
    #footer .nav-link:hover { opacity: 0.6; }